@import './src/app/styles/pagination.scss';

.header-icons{
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
}

.icon-presets{

    @apply w-5 h-5;
}
.btn-close {
    cursor: pointer;
}

.btn-move {
    cursor: move;
}

.select-button{
    @apply py-2 pl-2 pr-6;
    border: 1px solid #A9AEB3; 
    background-color: transparent;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #484B4D;

    box-sizing: border-box;
    border-radius: 5px;

    cursor: pointer;
    background: url('../../../assets/svg/arrow-down.svg') 95.5% 50% no-repeat #FFFFFF;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.isOpen{
    background: #3656BF;
    border: 1px solid transparent;
}

.isOpenIcon{
    color: #FFF;
}

.isClose{
    border: 1px solid #A9AEB3;
}
.isCloseIcon{
    color: #484B4D;
}    