<div class="body-login">
    <div class="header-login">
        <p class="welcome">Bem vindo(a)!</p>
        <p class="make-login">Faça login para acessar sua conta</p>
    </div>
    <div class="card-login">
        <div class="dados-login">
            <div class="elements-login">
                <p>Email</p>
                <input
                    type="email"
                />
            </div>
            <div class="elements-login">
                <p>Senha</p>
                <input
                    type="password"
                />
            </div>
            <button>Entrar</button>
        </div>
    </div>
</div>