<div class="body-register">
  <div class="header-register">
    <p class="welcome">Bem vindo(a)!</p>
    <p class="make-register">Crie sua conta</p>
  </div>
  <div class="card-register">
    <div class="dados-register">
      <div class="elements-register">
        <p>Nome</p>
        <input type="email" />
      </div>
      <div class="elements-register">
        <p>Email</p>
        <input type="email" />
      </div>
      <div class="elements-register">
        <p>Senha</p>
        <input type="password" />
      </div>
      <div class="elements-register">
        <p>Confirmar senha</p>
        <input type="password" />
      </div>
      <button (click)="toLogin()">Registrar</button>
    </div>
  </div>
</div>
