/* You can add global styles to this file, and also import other style files */
.line {
    height: 2px;
    width: 100%;
    background-color: black;
    margin: 0 1rem;
}

.error {
    color: red;
}